@import url(Glassmorphism.css);

:root, ::after, ::before {
    --custom-color-accent-light: #c4a818;
    --custom-color-accent-dark: #7a6c10;
    --custom-color-accent-light-t: rgba(196, 168, 24, 0.5);
    --custom-color-accent-dark-t: rgba(122, 108, 16, 0.5);
    --custom-color-slider1: #c4a818;
    --custom-color-slider2: #e6d03a;
}
