@import url(Glassmorphism.css);

:root, ::after, ::before {
    --custom-color-accent-light: #c49aa3;
    --custom-color-accent-dark: #8f6e75;
    --custom-color-accent-light-t: rgba(196, 154, 163, 0.5);
    --custom-color-accent-dark-t: rgba(143, 110, 117, 0.5);
    --custom-color-slider1: #c49aa3;
    --custom-color-slider2: #ebd7db;
}
