@import url(Glassmorphism.css);

:root, ::after, ::before {
    --custom-color-accent-light: #2eb8a0;
    --custom-color-accent-dark: #1f7d6e;
    --custom-color-accent-light-t: rgba(46, 184, 160, 0.5);
    --custom-color-accent-dark-t: rgba(31, 125, 110, 0.5);
    --custom-color-slider1: #2eb8a0;
    --custom-color-slider2: #5bffde;
}
