@import url(Glassmorphism.css);

:root, ::after, ::before {
    --custom-color-accent-light: #cf0000;
    --custom-color-accent-dark: #950000;
    --custom-color-accent-light-t: rgba(207, 0, 0, 0.5);
    --custom-color-accent-dark-t: rgba(149, 0, 0, 0.5);
    --custom-color-slider1: #cf0000;
    --custom-color-slider2: #e16161;
}
