@import url(Glassmorphism.css);

:root, ::after, ::before {
    --custom-color-accent-light: #ffef23;
    --custom-color-accent-dark: #b8ac19;
    --custom-color-accent-light-t: rgba(255, 239, 35, 0.5);
    --custom-color-accent-dark-t: rgba(184, 172, 25, 0.5);
    --custom-color-slider1: #ffef23;
    --custom-color-slider2: #fff577;
}
