@import url(Glassmorphism.css);

:root, ::after, ::before {
    --custom-color-accent-light: #ebd7db;
    --custom-color-accent-dark: #a99b9e;
    --custom-color-accent-light-t: rgba(235, 215, 219, 0.5);
    --custom-color-accent-dark-t: rgba(169, 155, 158, 0.5);
    --custom-color-slider1: #ebd7db;
    --custom-color-slider2: #f3e6e9;
}
